{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<main>
<div>
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="text-center mb-3">
            You are logged in as {{ app.user.userName }}, <button><a class="block w-fit rounded bg-gray-700 text-gray-300 hover:bg-gray-600 hover:text-white px-4 py-1 ml-2 mt-2" href="{{ path('logout') }}">Logout</a></button>
        </div>
    {% else %}
    <p class="text-xl font-semibold text-center mt-4">Sign in to Why not DIY!</p>
    <div class="flex justify-center items-center container mx-auto max-w-fit my-6 mh-auto p-8 bg-gray-200 rounded-md">

    <form class="flex flex-col" action="{{ path('app_login') }}" method="post">

        <label for="emailAddress" class=" text-s">Please enter your login details</label>
        <input class="border rounded my-2 px-1" type="email" id="inputEmailAddress" placeholder="Email" name="emailAddress" value="{{ last_username }}" autocomplete="email" required autofocus>

        <input class="border rounded mt-2 mb-6 px-1" type="password" id="inputPassword" placeholder="Password" name="password" required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="inline-block rounded bg-gray-800 text-gray-300 hover:bg-gray-700 hover:text-white px-4 pb-1.5 pt-2 font-sans" type="submit">Sign in</button>
    </form>
    </div>
    {% endif %}
</div>
</main>
{% endblock %}