{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <h1>Login</h1>

    <form action="{{ path('app_login') }}" method="post">
        <label for="inputEmailAddress">Email:</label>
        <input type="email" id="inputEmailAddress" name="emailAddress" value="{{ last_username }}" autocomplete="email" required autofocus>

        <label for="inputPassword">Password:</label>
        <input type="password" id="inputPassword" name="password" required>

        <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
        >

        <button type="submit">login</button>
    </form>
{% endblock %}