{% extends 'base.html.twig' %}

{% block body %}
{% for flashMessage in app.flashes('success') %}
    <div class="alert alert-success">
        {{ flashMessage }}
    </div>
{% endfor %}
    <h1>Change Password</h1>

    {{ form_start(form) }}
    {{ form_row(form.currentPassword) }}
    {{ form_row(form.plainPassword) }}
    {{ form_row(form.confirmPassword) }}

    <button type="submit">Change Password</button>
    <button><a href="{{ path('app_user_show', {'id': app.user.id}) }}">Back to Profile</a></button>
    {{ form_end(form) }}
{% endblock %}