{% extends 'base.html.twig' %}

{% block title %}ForbiddenWords index{% endblock %}

{% block body %}
    <h1>ForbiddenWords index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Words</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for forbidden_word in forbidden_words %}
            <tr>
                <td>{{ forbidden_word.id }}</td>
                <td>{{ forbidden_word.words }}</td>
                <td>
                    <a href="{{ path('app_forbidden_words_show', {'id': forbidden_word.id}) }}">show</a>
                    <a href="{{ path('app_forbidden_words_edit', {'id': forbidden_word.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_forbidden_words_new') }}">Create new</a>
{% endblock %}
