{% extends 'base.html.twig' %}

{% block title %}AdminNotification{% endblock %}

{% block body %}
    <h1>AdminNotification</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ admin_notification.id }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ admin_notification.createdAt ? admin_notification.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ admin_notification.text }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_notification_index') }}">back to list</a>

    <a href="{{ path('app_admin_notification_edit', {'id': admin_notification.id}) }}">edit</a>

    {{ include('admin_notification/_delete_form.html.twig') }}
{% endblock %}
