{% extends 'base.html.twig' %}

{% block title %}Comments index{% endblock %}

{% block body %}
    <h1>Comments index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>User</th>
                <th>Comment</th>
                <th>Edited</th>
                <th>EditedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ comment.createdBy }}</td>
                <td>{{ comment.text }}</td>
                <td>{{ comment.edited ? 'Yes' : 'No' }}</td>
                <td>{{ comment.editedAt ? comment.editedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    {{ include('admin/comment_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
