{% extends 'base.html.twig' %}

{% block title %}AdminNotification index{% endblock %}

{% block body %}
    <h1>AdminNotification index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>CreatedAt</th>
                <th>Text</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for admin_notification in admin_notifications %}
            <tr>
                <td>{{ admin_notification.createdAt ? admin_notification.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ admin_notification.text }}</td>
                <td>
                    <a href="{{ path('app_admin_notification_show', {'id': admin_notification.id}) }}">show</a>
                    <a href="{{ path('app_admin_notification_edit', {'id': admin_notification.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_notification_new') }}">Create new</a>
{% endblock %}
