{% extends 'base.html.twig' %}

{% block title %}Notifications{% endblock %}

{% block body %}
    <h1>Notifications</h1>

        {% for admin_notification in admin_notifications %}
    <table class="table">
        <thead>
            <tr>
                <th>CreatedAt</th>
                <th>Text</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ admin_notification.createdAt ? admin_notification.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ admin_notification.text }}</td>
                <td>
                {% if (admin_notification.user) %}
                    <a href="{{ path('app_user_edit', {'id': admin_notification.user.id}) }}">show</a>
                {% elseif (admin_notification.blog) %}
                    <a href="{{ path('app_blog_edit', {'id': admin_notification.blog.id}) }}">show</a>
                {% elseif (admin_notification.comment) %}
                    <a href="{{ path('app_admin_comment', {'id': admin_notification.comment.id}) }}">show</a>
                {% endif %}
                {{ include('admin/notification_delete_form.html.twig') }}
                </td>
            </tr>
        </tbody>
    </table>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
{% endblock %}
