{% extends 'base.html.twig' %}

{% block title %}My Blogs{% endblock %}

{% block body %}
<main>
    <section>
        <h2>Blogs by {{ userName }}</h2>
        {% for blog in blogs %}
            <h3><a href="{{ path('app_blog_show', {'id': blog.id}) }}">{{ blog.title }}</a></h3>
            <p>{{ blog.createdAt|date('Y-M-d') }}
            {% if (blog.edited)%}
            (Edited: {{ blog.editedAt|date('d-M-Y') }})
            {% endif %}
            <p><iframe width="450" height="253" src="https://www.youtube.com/embed/{{ blog.videoUrl }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
            <p>{{ blog.text}}</p>
            <button><a href="{{ path('app_blog_edit', {'id': blog.id}) }}">Edit</a></button>
            {{ include('admin/blog_delete_form.html.twig') }}
        {% endfor %}
    </section>
</main>
{% endblock %}
