{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>UserName</th>
                <th>EmailAddress</th>
                <th>Role</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.userName }}</td>
                <td>{{ user.emailAddress }}</td>
                <td>{{ user.role }}</td>
                <td>
                    <a href="{{ path('app_admin_userblogs', {'id': user.id}) }}">Show blogs</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">Edit profile</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}">Create new</a>
{% endblock %}
