{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>UserName</th>
                <th>EmailAddress</th>
                <th>Role</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.userName }}</td>
                <td>{{ user.emailAddress }}</td>
                <td>{{ user.role }}</td>
                <td>
                    <a href="{{ path('app_admin_userblogs', {'id': user.id}) }}">Blogs</a>
                    <a href="{{ path('app_admin_user_edit', {'id': user.id}) }}">Profile</a>
                    <a href="{{ path('app_admin_password', {'id': user.id}) }}">Password</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no Users found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
