{% extends 'base.html.twig' %}

{% block title %}My Blogs{% endblock %}

{% block javascripts %}
    {{ parent()}}
    <script src="{{ asset('js/blogScroll.js') }}"></script>
{% endblock %}

{% block body %}
<main class="mx-2">
    <section class="flex flex-col pt-14 mx-auto 2xl:pt-0 2xl:bg-white 2xl:bg-opacity-60 2xl:w-3/5 2xl:px-6 2xl:rounded-md 2xl:mx-auto">
        <p class="text-3xl mx-auto pb-2 2xl:text-4xl 2xl:mx-auto 2xl:mt-2 2xl:pb-0">
            Your Blogs, {{ app.user.userName }}
        </p>
        <div id="blog-container">
            {% for blog in blogs %}
                <div class="flex-col blog-item px-1 mb-3 py-1 rounded-md bg-gray-400 bg-opacity-40 2xl:py-4 2xl:mb-6 2xl:px-2">
                    <p class="text-xl mx-auto 2xl:text-2xl 2xl:ml-2">
                        {{ blog.title }}
                    </p>
                    <p class="text-s 2xl:ml-2">
                        {{ blog.createdAt|date('Y-M-d H:i') }}
                    </p>
                    <iframe class="hidden 2xl:block" width="100%" height="500" src="https://www.youtube.com/embed/{{ blog.videoUrl }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <iframe class="block 2xl:hidden" width="100%" height="300" src="https://www.youtube.com/embed/{{ blog.videoUrl }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <p class="py-0.5 ml-2">
                        Likes: {{ blog.getLikesCount() }} Comments: {{ blog.getCommentsCount() }}
                    </p>
                    <button class="ml-2">
                        <a class="font-sans block w-full h-full bg-gray-800 text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-1 text-sm font-medium" href="{{ path('app_blog_show', {'id': blog.id}) }}">View</a>
                    </button>
                    <button>
                        <a class="font-sans block w-full h-full bg-gray-800 text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-1 text-sm font-medium" href="{{ path('app_blog_edit', {'id': blog.id}) }}">Edit</a>
                    </button>
                    <div class="ml-2">
                        {{ include('blog/_delete_form.html.twig') }}
                    </div>
                </div>
            {% else %}
                <p class="text-center text-xl font-medium mt-4 mb-2">
                     You have no blogs-><a class="text-blue-800" href="{{ path('app_blog_new') }}">Create a Blog</a>
                </p>
            {% endfor %}
        </div>
        <div id="pagination-loader" data-offset="7" class="mb-6 2xl:mb-0"></div>
        <div id="url" data-url="{{ url }}" style="display: none;"></div>
    </section>
</main>
{% endblock %}
