{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
    <h1>{{blog.title}}</h1>

    <p>{{ blog.createdAt ? blog.createdAt|date('Y-m-d H:i:s') : '' }} By: {{ blog.createdBy }}</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ blog.videoUrl }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>{{ blog.text|nl2br|raw }}</p>
    {% if (blog.edited) %}
        <p>Edited : {{ blog.editedAt|date('d-M-Y H:i') }}</p>
    {% endif %}
    <p><button><a href="{{ path('app_blog_index') }}">Back to Home</a></button></p>

{% endblock %}
